.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NAVBAR */

.navBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.navBar__brandTitle {
  border: 2px solid rgba(221, 208, 208, 0.747);
  border-radius: 10px;
  padding: 4px;
  margin: 2px;
  background-color: rgba(175, 46, 23, 0.658);
  color: white;
  transition: all .45s;
}

.navBar__brandTitle:hover {
  cursor: pointer;
  border-color: black;
}

.navBar__linkList {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 5px;
}

.itemList {
  list-style-type: none;
}

/* CONTADOR */

.contador__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid green;
  border-radius: 6px;
  width: 400px;
  margin: 5px auto;
  padding: 6px;
  gap: 7px;
}

.contador__container2 {
  display: flex;
  border: 2px solid rgba(0, 0, 0, 0.753);
  border-radius: 5px;
  justify-content: space-between;
  width: 300px;
  margin: auto;
}

.contador__boton {
  width: 40px;
  transition: all .4s;
}

.botonSumar {
  background-color: rgba(12, 170, 12, 0.753);
}

.botonSumar:hover {
  background-color: rgb(10, 133, 10);
  border-color: rgb(2, 54, 2);
}

.botonRestar {
  background-color: rgba(207, 13, 13, 0.753);
}

.botonRestar:hover {
  background-color: rgb(150, 7, 7)
}

.contador__boton:hover {
  color: white;
}

.contador__numero {
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
}

.contador__detail {
  font-size: 18px;
}

.contador__btnComprar {
  margin-top: 10px;
  width: 180px;
  padding: 8px;
  border-radius: 6px;
  border: 2px solid black;
  transition: all .4s;
}

.contador__btnComprar:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.664);
}

/* ITEM */

.item__container {
  width: 300px;
  border: 2px solid black;
  border-radius: 6px;
  margin: 50px;
  height: 150px;
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
}

.item__detail {
  margin: auto;
  font-size: 20px;
  font-weight: bold;
}

/* ITEM LIST */

.itemList__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}