.App {
  text-align: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
}

/* NAVBAR */

.navBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-height: 8vh;
}

.navBar {
  padding: 1.2rem;
  min-height: 8vh;
}

.navbar__brandLogo {
  width: 40px;
}

.navBar__brandTitle {
  border: 2px solid rgba(221, 208, 208, 0.747);
  border-radius: 10px;
  padding: 4px;
  margin: 2px;
  background-color: rgba(175, 46, 23, 0.658);
  color: white;
  transition: all .45s;
}

.navBar__brandTitle:hover {
  cursor: pointer;
  border-color: black;
}

.navBar__linkList {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 5px;
}

.itemList {
  list-style-type: none;
}

/* TITULO PAGINA */

.pageTitle {
  margin: auto;
  padding: 5px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  background: linear-gradient(to bottom right, rgba(77, 99, 99, 0.959), rgba(48, 151, 158, 0.76));
  color: white;
}

/* CONTADOR */

.contador__containerGrande {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 6px;
  width: 100%;
  margin: 0 auto;
  gap: 7px;
}

.contador__container {
  display: flex;
  border: 2px solid rgba(0, 0, 0, 0.753);
  border-radius: 5px;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}

.contador__boton {
  width: 40px;
  transition: all .4s;
}

.botonSumar {
  background-color: rgba(12, 170, 12, 0.753);
}

.botonSumar:hover {
  background-color: rgb(10, 133, 10);
  border-color: rgb(2, 54, 2);
}

.botonRestar {
  background-color: rgba(207, 13, 13, 0.753);
}

.botonRestar:hover {
  background-color: rgb(150, 7, 7)
}

.contador__boton:hover {
  color: white;
}

.contador__numero {
  margin: 5px;
  font-size: 20px;
  font-weight: bold;
}

.contador__detail {
  font-size: 18px;
}

.contador__btnComprar, .botonGenerico2 {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 180px;
  padding: 8px;
  border-radius: 6px;
  border: 2px solid black;
  transition: all .4s;
}

.contador__btnComprar:hover, .botonGenerico2:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.664);
}

/* BOTON GENERICO */

.botonGenerico {
  color: white;
  background-color: rgba(0, 0, 0, 0.664);
  margin-top: 10px;
  margin-bottom: 10px;
  width: 180px;
  padding: 8px;
  border: 2px solid black;
  border-radius: 6px;
  transition: all .4s;
}

.botonGenerico:hover {
  background-color: rgba(255, 255, 255, 0.712);
  color: black;
  border-color: black;
}

/* HOME */

.main__Home, .cartPage__img {
  animation: moverArriba .6s ease-in;
}

@keyframes moverArriba {
  0% {
    opacity: 0;
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media only screen and (min-width: 320px) {
  .home__phoneImg {
    width: 90%;
  }
}

@media only screen and (min-width: 480px) {
  .home__phoneImg {
    width: 410px;
  }  
}

/* ITEM */

.item__container {
  border: 2px solid black;
  border-radius: 0 0 6px 6px;
  background-color: #cdcdcf;
  box-shadow:  10px 10px 30px #969696e1;
  -webkit-box-shadow: -14px 11px 28px 2px rgba(1, 36, 48, 0.690);
  display: flex;
  flex-direction: column;
  gap: 6px;
  align-items: center;
  transition: all .7s ease;
}

.item__container:hover {
  /* border-color: #fff; */
  background-color: rgba(7, 6, 6, 0.250);
  box-shadow: 10px 10px 30px #2c2b2bc2;
}

@media only screen and (min-width: 320px) {
  .item__container {
    width: 95%;
    margin: 50px 20px;
  }
}

@media only screen and (min-width: 480px) {
  .item__container {
    width: 300px;
    margin: 50px
  }
}

.item__detail {
  margin: auto;
  font-size: 20px;
  font-weight: bold;
}

.item__img {
  width: 100%;
}

.btnItemMostrar {
  margin: 10px;
  width: 180px;
  padding: 8px;
  border-radius: 6px;
  border: 2px solid black;
  transition: all .5s;
}

.btnItemMostrar:hover {
  color: white;
  background-color: rgba(0, 0, 0, 0.664);
  width: 80%;
}

/* ITEM LIST */

.itemList__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  animation: moveItemListUpWards .5s ease-in;
}

@keyframes moveItemListUpWards {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* ITEM DETAIL */

.itemDetail__container {
  margin: 20px auto;
  border: 2px solid black;
  border-radius: 0 0 6px 6px;
  background-color: #cdcdcf;
  box-shadow:  10px 10px 30px #969696e1;
  -webkit-box-shadow: -14px 11px 28px 2px rgba(1, 36, 48, 0.690);
  animation: moverIzquierda .5s ease-in;
}

@keyframes moverIzquierda {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (max-width: 480px) {
  .itemDetail__container {
    width: 90%;
  }
}

@media only screen and (min-width: 480px) {
  .itemDetail__container {
    width: 80%;
  }
}

@media only screen and (min-width: 600px) {
  .itemDetail__container {
    max-width: 500px;
  }
}

.noStockMessage {
  color: red;
  border: 2px solid red;
  border-radius: 5px;
  width: 55%;
  margin: 0 auto 10px;
  background-color: rgb(255, 255, 255);
  padding: 5px;
}

/* CATEGORIAS */

.categorias-marcas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  justify-content: center;
  gap: 30px;
}

.tituloMarca__container {
  font-weight: bold;
  margin-top: 15px;
}

.tituloMarca {
  text-decoration: none;
  font-size: 20px;
  border: 2px solid black;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.884);
  padding: 5px;
  transition: all .6s;
}

.tituloMarca:hover {
  background-color: rgba(0, 0, 0, 0.644);
  color: white;
}

/* NAVLINK */

.tituloMarcaActive {
  color: rgba(255, 0, 0, 0.774);
  border-color: rgba(255, 0, 0, 0.774);
}

/* ITEM LIST CONTAINER */

.tituloMarcaSeleccionada {
  margin: 20px auto 0;
  color: white;
  width: 190px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 6px;
  background-color: coral;
}

/* CART PAGE PRODUCT DETAIL */

@media only screen and (min-width: 320px) {
  .cartPage__img {
    width: 90%;
  }  
}

@media only screen and (min-width: 480px) {
  .cartPage__img {
    width: 410px;
  }  
}

.cartPage__subtitle {
  font-size: 22px;
  margin-top: 50px;
  font-weight: bold;
}

.cartProductDetail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  border: 2px solid black;
  border-radius: 6px;
  padding: 10px;
  gap: 30px;
  width: 50%;
  margin: 10px auto;
}

.cartDetailButton {
  padding: auto;
  margin: auto 10px;
  width: 30px;
  height: 30px;
  color: white;
  /* font-weight: bold; */
}

.cartProductDetail__counter {
  display: flex;
}

.cartProductDetail__quantity, .cartProductDetail__detail {
  color: green;
  margin: auto 0;
  font-weight: bold;
}

.cartDetailButtonAdd {
  background-color: rgba(0, 128, 0, 0.750);
  border-radius: 4px;
}

.cartDetailButtonSub {
  background-color: rgba(255, 0, 0, 0.750);
  border-radius: 4px;
}

.cartPage__TotalPrice {
  color: red;
  margin: auto 0;
  font-weight: bold;
}

.main {
  min-height: 80vh;
  background: linear-gradient(to bottom, white, rgba(196, 231, 240, 0.801))
}

/* FOOTER */

.footer {
  min-height: 180px;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(14,35,37,1) 35%, rgba(64,111,121,1) 100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-top: 2px solid #fff;
  position: relative;
}

/* FOOTER SOCIAL MEDIA*/

.footer__socialMedia-icon {
  color: rgba(0, 0, 0, 0.849);
}

.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  margin: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 2;
  transition: all .4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrapper .icon span {
  position: relative;
  height: 35px;
  width: 35px;
  display: block;
  background: linear-gradient(to bottom right, white, rgba(196, 231, 240, 0.801));
  border-radius: 50%;
  text-align: center;
  z-index: 2;
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
}

.wrapper .icon span i {
  font-size: 20px;
  line-height: 35px;
}

.wrapper .icon .socialName {
  position: absolute;
  top: 0;
  background: #fff;
  font-size: 20px;
  padding: 10px 14px;
  box-shadow: 0 10px 10px rgba(0,0,0,0.1);
  border-radius: 25px;
  opacity: 0;
  pointer-events: none;
  transition: all .4s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.wrapper .icon:hover .socialName {
  top: -68px;
  opacity: 1;
  pointer-events: auto;
  color: #fff;
}

.wrapper .icon:hover span i {
  color: #fff;
}

.wrapper .icon .socialName:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  transition: all .4s cubic-bezier(0.68,-0.55,0.265,1.55);

}

.wrapper .icon:hover span,
.wrapper .icon:hover .socialName {
  text-shadow: 0px -1px 0px rgba(0,0,0,0.4);
}

.wrapper .facebook:hover span,
.wrapper .facebook:hover .socialName,
.wrapper .facebook:hover .socialName:before {
  background: #3B5999;
}

.wrapper .twitter:hover span,
.wrapper .twitter:hover .socialName,
.wrapper .twitter:hover .socialName:before {
  background: #46C1F6;
}

.wrapper .instagram:hover span,
.wrapper .instagram:hover .socialName,
.wrapper .instagram:hover .socialName:before {
  background: #e1306c;
}

.wrapper .github:hover span,
.wrapper .github:hover .socialName,
.wrapper .github:hover .socialName:before {
  background: #333;
}

.wrapper .youtube:hover span,
.wrapper .youtube:hover .socialName,
.wrapper .youtube:hover .socialName:before {
  background: #DE463B;
}


.footer__copyright {
  color: rgba(196, 231, 240, 0.801);
  bottom: 0;
  position: absolute;
  transition: all .5s;
  cursor: pointer;
  animation: copyrightMove 1s ease-in;
}

@keyframes copyrightMove {
  0% {
    opacity: 0;
    transform: translateX(-300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.footer__copyright:hover {
  color: rgb(190, 233, 235);
}

.footer__social-media {
  display: flex;
  place-items: center;
  justify-content: center;
  animation: socialMediaMove 1s ease-in;
}

@media only screen and (min-width: 480px) {
  .footer__social-media {
    justify-content: space-evenly;
  }
  .wrapper .icon {
    margin: 0;
  }
}

@keyframes socialMediaMove {
  0% {
    opacity: 0;
    transform: translateX(300px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@media only screen and (min-width: 320px) {
  .footer__social-media {
    width: 100%;
  }
}

@media only screen and (min-width: 480px) {
  .footer__social-media {
    width: 80%;
  }
}

@media only screen and (min-width: 720px) {
  .footer__social-media {
    width: 60%;
  }
}

@media only screen and (min-width: 1100px) {
  .footer__social-media {
    width: 50%;
  }
}

/* CART WIDGET */

.cartWidgetContainer {
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 45px;
  margin: auto;
}

.cartIcon {
  width: 25px;  /* hay que hacerlo responsive. */
  margin: auto;
  padding-top: 2px;
  color: white;
}

.cartQuantity {
  margin: auto 0;
  font-size: 14px;
  font-weight: bold;
  color: white;
  background-color: rgb(10, 139, 214);
  width: 20px;
  border-radius: 11px;
}

/* FORMULARIO COMPRA */

.resumeDetail {
  width: 80vw;
  margin: 2rem auto;
  border: 2px solid rgba(0, 0, 0, 0.719);
  border-radius: 6px;
  padding: 3%;
  background: linear-gradient(to bottom right, white, rgba(172, 216, 228, 0.959), rgba(142, 216, 236, 0.959), rgba(126, 124, 124, 0.774));
  animation: showResume 1.2s ease-in;
}

@keyframes showResume {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.resumeDetail__totalAmount {
  color: green;
  /* padding-top: 20px; */
}

.contenedor {
	min-height: 70vh;
	display: flex;
	align-items: flex-start;
	justify-content: center;
  padding-bottom: 50px;
}

.formulario {
  min-height: 40vh;
	min-width: 50%;
	margin-top: 50px;
	background: #fff;
	border-radius: 5px;
	padding: 20px;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  animation: showFormulario .6s ease-in;
}

@keyframes showFormulario {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.formulario > div {
	margin-bottom: 20px;
}

.formulario label {
	display: block;
	font-weight: 600;
	font-size: 14px;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.formulario input,
.formulario textarea {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	border-radius: 5px;
	border: 2px solid #e2e2e2;
	font-size: 18px;
	padding: 10px;
	margin-bottom: 5px;
	color: #1f1f1f;
}

.formulario input:focus {
	outline: none;
	border: 2px solid #0085FF;
}

.formulario .error {
	color: #e92b2d;
	font-weight: 600;
	font-size: 12px;
}

.formulario button[type="submit"], .btn-formReturn {
	display: block;
	background: #0085FF;
	font-weight: 600;
	font-family: 'Open Sans', sans-serif;
	border: none;
	cursor: pointer;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	color: #fff;
	font-size: 16px;
	transition: .3s ease all;
}

.formulario button[type="submit"]:hover {
	background: #0051ff;
}

.btn-formReturn {
  background: #ec4015;
  margin-top: 8px;
}

.btn-formReturn:hover {
  background: #972003;
}

.formulario .exito {
	text-align: center;
	font-size: 14px;
	padding-top: 20px;
	color: #02a802;
}

.formulario input[type="radio"] {
	width: auto;
}

/* ERROR 404 */

@media only screen and (min-width: 320px) {
  .error404__img {
    width: 85%;
  }
}

@media only screen and (min-width: 480px) {
  .error404__img {
    width: 70%;
  }
}

@media only screen and (min-width: 720px) {
  .error404__img {
    width: 65%;
  }
}

@media only screen and (min-width: 1100px) {
  .error404__img {
    width: 45%;
  }
}

/* CONTACTO */

@media only screen and (min-width: 320px) {
  .main-contacto {
    background-image: url('./img/message-img.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
  }
}

@media only screen and (min-width: 480px) {
  .main-contacto {
    background-size: 80%;
  }
}

@media only screen and (min-width: 900px) {
  .main-contacto {
    background-size: 50%;
  }
}

@media only screen and (min-width: 1300px) {
  .main-contacto {
    background-size: 40%;
  }
}

/* FORMULARIO COMPRA */

@media only screen and (min-width: 320px) {
  .orderConfirmed-img {
    width: 90%;
  }
}

@media only screen and (min-width: 480px) {
  .orderConfirmed-img {
    width: 80%;
  }
}

@media only screen and (min-width: 600px) {
  .orderConfirmed-img {
    width: 60%;
  }
}

@media only screen and (min-width: 900px) {
  .orderConfirmed-img {
    width: 40%;
  }
}

@media only screen and (min-width: 1300px) {
  .orderConfirmed-img {
    width: 25%;
  }
}

.swal-button-container {
  display: inline-flex;
  align-items: center;
}
 
.swal-button, .swal-button--cancel {
  display: inline-block;
}
